{% extends "ASFWebsiteBundle::layout.html.twig" %}

{% block asf_base_meta_title %}{{ page.getTitle() }}{% endblock %}

{% block heading %}
<div class="jumbotron">
	<h1>{% block heading_title %}{{ page.getTitle() }}{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
	{{ page.getContent()|raw }}
{% endblock %}